**NLP Practice on DataFrames**

In [ ]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

In [5]:
import nltk
nltk.download("punkt")
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [6]:
f = open('data.txt', 'r')
text = f.read()

In [8]:
text[:1000]

"The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.  You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]\n\n\n\n\n\n\nMAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nAUTHOR OF\n\nJUDITH OF BLUE LAKE RANCH, THE BELLS OF SAN JUAN, SIX FEET FOUR, ETC.\n\n\n\n\nILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGROSSET & DUNLAP\n\nPUBLISHERS -------- NEW YORK\n\n\n\n\nCOPYRIGHT, 1920, BY\n\nCHARLES SCRIBNER'S SONS\n\n\nPublished October, 1920\n\n\n\n\nCONTENTS\n\n\nCHAPTER\n\n     I. STEVE DIVES INTO DEEP WATERS\n    II. MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n "

In [10]:
a=text.split()

In [11]:
len(a)

78078

In [12]:
b=text.split("\n")

In [13]:
len(b)

9770

In [14]:
b[:5]

['The Project Gutenberg EBook of Man to Man, by Jackson Gregory',
 '',
 'This eBook is for the use of anyone anywhere at no cost and with',
 'almost no restrictions whatsoever.  You may copy it, give it away or',
 're-use it under the terms of the Project Gutenberg License included']

In [15]:
sent_tokens=sent_tokenize(text)

In [17]:
sent_tokens[:3]

['The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.',
 'You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]',
 'MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nAUTHOR OF\n\nJUDITH OF BLUE LAKE RANCH, THE BELLS OF SAN JUAN, SIX FEET FOUR, ETC.']

In [18]:
len(sent_tokens)

5560

In [19]:
df = pd.DataFrame({"sentences":sent_tokens})

In [20]:
df.head()

                                           sentences
0  The Project Gutenberg EBook of Man to Man, by ...
1  You may copy it, give it away or\nre-use it un...
2  MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...
3  ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...
4     MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n   III.

In [21]:
df.shape

(5560, 1)

In [22]:
stop_words = stopwords.words('english')
lem = WordNetLemmatizer()

In [42]:
def cleaning(data):
    
    #1. Tokenize
    text_tokens = word_tokenize(data)   #removed the .lower intentionaly to keep NNP s
    
    #2. Remove Puncs
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    #3. Removing Stopwords
    tokens_without_sw = [t for t in tokens_without_punc if t not in stop_words]
    
    #4. lemma
    text_cleaned = [lem.lemmatize(t) for t in tokens_without_sw]
    
    #joining
    return " ".join(text_cleaned)

In [43]:
df["sentences_2"] = df["sentences"].apply(cleaning)

In [44]:
df.head()

,sentences,sentences_2,sentences_3,sentences_4
0,"The Project Gutenberg EBook of Man to Man, by ...",The Project Gutenberg EBook Man Man Jackson Gr...,"[project, gutenberg, ebook, man, man, jackson,...","[(project, NN), (gutenberg, NN), (ebook, NN), ..."
1,"You may copy it, give it away or\nre-use it un...",You may copy give away term Project Gutenberg ...,"[may, copy, give, away, term, project, gutenbe...","[(may, MD), (copy, VB), (give, VB), (away, RP)..."
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,MAN TO MAN BY JACKSON GREGORY AUTHOR OF JUDITH...,"[man, man, jackson, gregory, author, judith, b...","[(man, NN), (man, NN), (jackson, NN), (gregory..."
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,ILLUSTRATED BY SHEPHERD GROSSET DUNLAP PUBLISH...,"[illustrated, shepherd, grosset, dunlap, publi...","[(illustrated, VBN), (shepherd, JJ), (grosset,..."
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,MISS BLUE CLOAK KNOWS WHEN SHE BEAT III,"[miss, blue, cloak, know, beat, iii]","[(miss, JJ), (blue, JJ), (cloak, NN), (know, V..."

In [45]:
df.sentences[0]

'The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.'

In [46]:
df.sentences_2[0]

'The Project Gutenberg EBook Man Man Jackson Gregory This eBook use anyone anywhere cost almost restriction whatsoever'

In [47]:
df.sentences[1]

'You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]'

In [48]:
df.sentences_2[1]

'You may copy give away term Project Gutenberg License included eBook online Title Man Man Author Jackson Gregory Release Date July EBook Language English START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN Produced Al Haines Frontispiece The blazing heat men horse steer suffered terribly'

**PoST**

In [49]:
df["sentences_3"]=df["sentences_2"].apply(lambda x : x.split())

In [51]:
df.head()

,sentences,sentences_2,sentences_3,sentences_4
0,"The Project Gutenberg EBook of Man to Man, by ...",The Project Gutenberg EBook Man Man Jackson Gr...,"[The, Project, Gutenberg, EBook, Man, Man, Jac...","[(project, NN), (gutenberg, NN), (ebook, NN), ..."
1,"You may copy it, give it away or\nre-use it un...",You may copy give away term Project Gutenberg ...,"[You, may, copy, give, away, term, Project, Gu...","[(may, MD), (copy, VB), (give, VB), (away, RP)..."
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,MAN TO MAN BY JACKSON GREGORY AUTHOR OF JUDITH...,"[MAN, TO, MAN, BY, JACKSON, GREGORY, AUTHOR, O...","[(man, NN), (man, NN), (jackson, NN), (gregory..."
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,ILLUSTRATED BY SHEPHERD GROSSET DUNLAP PUBLISH...,"[ILLUSTRATED, BY, SHEPHERD, GROSSET, DUNLAP, P...","[(illustrated, VBN), (shepherd, JJ), (grosset,..."
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,MISS BLUE CLOAK KNOWS WHEN SHE BEAT III,"[MISS, BLUE, CLOAK, KNOWS, WHEN, SHE, BEAT, III]","[(miss, JJ), (blue, JJ), (cloak, NN), (know, V..."

In [52]:
df["sentences_4"]=df["sentences_3"].apply(lambda x : nltk.pos_tag(x))

In [53]:
df.head()

,sentences,sentences_2,sentences_3,sentences_4
0,"The Project Gutenberg EBook of Man to Man, by ...",The Project Gutenberg EBook Man Man Jackson Gr...,"[The, Project, Gutenberg, EBook, Man, Man, Jac...","[(The, DT), (Project, NNP), (Gutenberg, NNP), ..."
1,"You may copy it, give it away or\nre-use it un...",You may copy give away term Project Gutenberg ...,"[You, may, copy, give, away, term, Project, Gu...","[(You, PRP), (may, MD), (copy, VB), (give, VB)..."
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,MAN TO MAN BY JACKSON GREGORY AUTHOR OF JUDITH...,"[MAN, TO, MAN, BY, JACKSON, GREGORY, AUTHOR, O...","[(MAN, NN), (TO, NNP), (MAN, NNP), (BY, NNP), ..."
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,ILLUSTRATED BY SHEPHERD GROSSET DUNLAP PUBLISH...,"[ILLUSTRATED, BY, SHEPHERD, GROSSET, DUNLAP, P...","[(ILLUSTRATED, VBN), (BY, NNP), (SHEPHERD, NNP..."
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,MISS BLUE CLOAK KNOWS WHEN SHE BEAT III,"[MISS, BLUE, CLOAK, KNOWS, WHEN, SHE, BEAT, III]","[(MISS, NNP), (BLUE, NNP), (CLOAK, NNP), (KNOW..."

**Vectorization**

**Count Vectorization**

In [54]:
#Apply to series not to df itself.

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [57]:
X_train=df["sentences_2"]

In [59]:
vectorizer = CountVectorizer()

In [60]:
vectorizer.fit(X_train)

CountVectorizer()

In [62]:
vectorizer.get_feature_names()[:5]

['aback', 'abandoned', 'abide', 'abiding', 'ability']

In [64]:
len(vectorizer.get_feature_names())

6130

In [65]:
X_train_count = vectorizer.transform(X_train)

In [73]:
a=pd.DataFrame(X_train_count.toarray(), columns=vectorizer.get_feature_names())

In [74]:
a.head()

,aback,abandoned,abide,abiding,ability,able,aboard,about,abreast,abrupt,abruptly,abruptness,absence,absent,absently,absolute,absolutely,abstraction,absurd,abundant,accelerator,accept,accepted,accepting,access,...,yeee,yell,yelled,yellin,yelling,yellow,yes,yessir,yesterday,yet,yets,yield,yielded,yielding,yonder,york,you,young,youngest,your,yours,yourse,youth,youthful,zest
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [69]:
a.shape

(5560, 6130)

In [72]:
pd.set_option('display.max_columns', 50)

**tf-idf**

In [75]:
tf_idf_vectorizer=TfidfVectorizer()

In [76]:
tf_idf_vectorizer.fit(X_train)

TfidfVectorizer()

In [77]:
X_train_tf_idf = tf_idf_vectorizer.transform(X_train)

In [78]:
b = pd.DataFrame(X_train_tf_idf.toarray(), columns=tf_idf_vectorizer.get_feature_names())

In [79]:
b.head()

,aback,abandoned,abide,abiding,ability,able,aboard,about,abreast,abrupt,abruptly,abruptness,absence,absent,absently,absolute,absolutely,abstraction,absurd,abundant,accelerator,accept,accepted,accepting,access,...,yeee,yell,yelled,yellin,yelling,yellow,yes,yessir,yesterday,yet,yets,yield,yielded,yielding,yonder,york,you,young,youngest,your,yours,yourse,youth,youthful,zest
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.081525,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.214756,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
b.sum().sort_values(ascending=False)

blenham       121.693580
steve         119.792142
packard       114.215786
terry         102.879166
said           91.987103
                 ...
alteration      0.140733
indirectly      0.140733
indemnity       0.140733
indemnify       0.140733
deletion        0.140733
Length: 6130, dtype: float64

In [82]:
a.sum().sort_values(ascending=False)

steve        542
packard      541
blenham      524
man          445
terry        409
            ...
richly         1
formulate      1
forming        1
former         1
duster         1
Length: 6130, dtype: int64